body {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  background-color:orange
}

ul li {
  display: block;
  position: relative;
  float: left;
}

ul li ul {
  display: none;
}

ul li a {
  display: block;
  padding: 20px 45px;
  background-color: white;
}




